In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\malinda\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\malinda\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\malinda\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\malinda\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\malinda\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\malinda\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\malinda\anaconda3\lib\site-packages (1.26.4)

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('Gymdata.csv')

In [4]:
data.head()

,Name,Initial BMI,Time weeks,Healthy BMI,Gender,Times a Week Worked Out,Age,Workout palce
0,Saman,15,24,21,1,4,25,1
1,Sewwandi,15,24,21,0,3,22,1
2,Randu,14,36,21,1,3,28,1
3,Sadani,14,36,21,0,4,26,1
4,Manuhara,13,36,21,1,3,23,1

In [5]:
data.shape

(199, 8)

In [6]:
data.isnull()

,Name,Initial BMI,Time weeks,Healthy BMI,Gender,Times a Week Worked Out,Age,Workout palce
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
194,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False

In [7]:
data.isnull().sum()

Name                       0
Initial BMI                0
Time weeks                 0
Healthy BMI                0
Gender                     0
Times a Week Worked Out    0
Age                        0
Workout palce              0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     199 non-null    object
 1   Initial BMI              199 non-null    int64
 2   Time weeks               199 non-null    int64
 3   Healthy BMI              199 non-null    int64
 4   Gender                   199 non-null    int64
 5   Times a Week Worked Out  199 non-null    int64
 6   Age                      199 non-null    int64
 7   Workout palce            199 non-null    int64
dtypes: int64(7), object(1)
memory usage: 12.6+ KB

In [9]:
data = pd.read_csv('Gymdata.csv')

In [10]:
data.head()

,Name,Initial_BMI,Time_weeks,Healthy_BMI,Gender,Times_a_Week_Worked_Out,Age,Workout_palce
0,Saman,15,24,21,1,4,25,1
1,Sewwandi,15,24,21,0,3,22,1
2,Randu,14,36,21,1,3,28,1
3,Sadani,14,36,21,0,4,26,1
4,Manuhara,13,36,21,1,3,23,1

In [11]:
data.corr()['Time_weeks	']

ValueError: could not convert string to float: 'Saman '

In [12]:
data.drop(column=['Name','Healthy_BMI','Times_a_Week_Worked_Out','Age','Workout_palce'])

TypeError: DataFrame.drop() got an unexpected keyword argument 'column'

In [13]:
data.drop(columns=['Name','Healthy_BMI','Times_a_Week_Worked_Out','Age','Workout_palce'])

     Initial_BMI  Time_weeks  Gender
0             15          24       1
1             15          24       0
2             14          36       1
3             14          36       0
4             13          36       1
..           ...         ...     ...
194           33          60       1
195           34          60       1
196           34          60       1
197           35          72       0
198           36          60       1

[199 rows x 3 columns]

In [14]:
!pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [15]:
!pip install sklearns

ERROR: Could not find a version that satisfies the requirement sklearns (from versions: none)
ERROR: No matching distribution found for sklearns

In [16]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\malinda\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\malinda\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\malinda\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\malinda\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\malinda\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [18]:
X = data[['Initial_BMI','Gender']]
y = data['Time_weeks']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [21]:
import pickle

In [22]:
with open('newGymModel.pkl', 'wb') as file:
    pickle.dump(model, file)

In [23]:
with open('newGymModel.pickle', 'wb') as file:
    pickle.dump(model, file)

In [24]:
model.predict([[15,0]])

C:\Users\Malinda\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([26.82454192])

In [25]:
model.score(X_test,y_test)

0.8787853697446378